ShareBook/ShareBooksClient/src/conf/xml-resources/web-service-references/BookWS/wsdl/localhost_8080/ShareBooksServer/BookWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serve/" name="BookWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serve/" schemaLocation="http://localhost:8080/ShareBooksServer/BookWS?xsd=1"/>
</xsd:schema>
</types>
<message name="UpdateBook">
<part name="parameters" element="tns:UpdateBook"/>
</message>
<message name="UpdateBookResponse">
<part name="parameters" element="tns:UpdateBookResponse"/>
</message>
<message name="viewUserBookList">
<part name="parameters" element="tns:viewUserBookList"/>
</message>
<message name="viewUserBookListResponse">
<part name="parameters" element="tns:viewUserBookListResponse"/>
</message>
<message name="AddBook">
<part name="parameters" element="tns:AddBook"/>
</message>
<message name="AddBookResponse">
<part name="parameters" element="tns:AddBookResponse"/>
</message>
<message name="viewAllBookAvilable">
<part name="parameters" element="tns:viewAllBookAvilable"/>
</message>
<message name="viewAllBookAvilableResponse">
<part name="parameters" element="tns:viewAllBookAvilableResponse"/>
</message>
<portType name="BookWS">
<operation name="UpdateBook">
<input wsam:Action="http://serve/BookWS/UpdateBookRequest" message="tns:UpdateBook"/>
<output wsam:Action="http://serve/BookWS/UpdateBookResponse" message="tns:UpdateBookResponse"/>
</operation>
<operation name="viewUserBookList">
<input wsam:Action="http://serve/BookWS/viewUserBookListRequest" message="tns:viewUserBookList"/>
<output wsam:Action="http://serve/BookWS/viewUserBookListResponse" message="tns:viewUserBookListResponse"/>
</operation>
<operation name="AddBook">
<input wsam:Action="http://serve/BookWS/AddBookRequest" message="tns:AddBook"/>
<output wsam:Action="http://serve/BookWS/AddBookResponse" message="tns:AddBookResponse"/>
</operation>
<operation name="viewAllBookAvilable">
<input wsam:Action="http://serve/BookWS/viewAllBookAvilableRequest" message="tns:viewAllBookAvilable"/>
<output wsam:Action="http://serve/BookWS/viewAllBookAvilableResponse" message="tns:viewAllBookAvilableResponse"/>
</operation>
</portType>
<binding name="BookWSPortBinding" type="tns:BookWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewUserBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllBookAvilable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookWS">
<port name="BookWSPort" binding="tns:BookWSPortBinding">
<soap:address location="http://localhost:8080/ShareBooksServer/BookWS"/>
</port>
</service>
</definitions>