ShareBook/ShareBooksClient/src/conf/xml-resources/web-service-references/OrderWS/wsdl/localhost_8080/ShareBooksServer/OrderWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serve/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serve/">

<xs:element name="CreatNewOrder" type="tns:CreatNewOrder"/>

<xs:element name="CreatNewOrderResponse" type="tns:CreatNewOrderResponse"/>

<xs:element name="UpdateOrderStatus" type="tns:UpdateOrderStatus"/>

<xs:element name="UpdateOrderStatusResponse" type="tns:UpdateOrderStatusResponse"/>

<xs:element name="viewOrders" type="tns:viewOrders"/>

<xs:element name="viewOrdersResponse" type="tns:viewOrdersResponse"/>

<xs:complexType name="viewOrders">
<xs:sequence>
<xs:element name="UserName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewOrdersResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreatNewOrder">
<xs:sequence>
<xs:element name="ISBN" type="xs:int"/>
<xs:element name="UserName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreatNewOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateOrderStatus">
<xs:sequence>
<xs:element name="OrderId" type="xs:int"/>
<xs:element name="ISBN" type="xs:int"/>
<xs:element name="UserName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>