ShareBook/ShareBooksClient/web/WEB-INF/wsdl/localhost_8080/ShareBooksServer/OrderWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serve/" name="OrderWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serve/" schemaLocation="http://localhost:8080/ShareBooksServer/OrderWS?xsd=1"/>
</xsd:schema>
</types>
<message name="UpdateOrderStatus">
<part name="parameters" element="tns:UpdateOrderStatus"/>
</message>
<message name="UpdateOrderStatusResponse">
<part name="parameters" element="tns:UpdateOrderStatusResponse"/>
</message>
<message name="viewOrders">
<part name="parameters" element="tns:viewOrders"/>
</message>
<message name="viewOrdersResponse">
<part name="parameters" element="tns:viewOrdersResponse"/>
</message>
<message name="CreatNewOrder">
<part name="parameters" element="tns:CreatNewOrder"/>
</message>
<message name="CreatNewOrderResponse">
<part name="parameters" element="tns:CreatNewOrderResponse"/>
</message>
<portType name="OrderWS">
<operation name="UpdateOrderStatus">
<input wsam:Action="http://serve/OrderWS/UpdateOrderStatusRequest" message="tns:UpdateOrderStatus"/>
<output wsam:Action="http://serve/OrderWS/UpdateOrderStatusResponse" message="tns:UpdateOrderStatusResponse"/>
</operation>
<operation name="viewOrders">
<input wsam:Action="http://serve/OrderWS/viewOrdersRequest" message="tns:viewOrders"/>
<output wsam:Action="http://serve/OrderWS/viewOrdersResponse" message="tns:viewOrdersResponse"/>
</operation>
<operation name="CreatNewOrder">
<input wsam:Action="http://serve/OrderWS/CreatNewOrderRequest" message="tns:CreatNewOrder"/>
<output wsam:Action="http://serve/OrderWS/CreatNewOrderResponse" message="tns:CreatNewOrderResponse"/>
</operation>
</portType>
<binding name="OrderWSPortBinding" type="tns:OrderWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateOrderStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreatNewOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrderWS">
<port name="OrderWSPort" binding="tns:OrderWSPortBinding">
<soap:address location="http://localhost:8080/ShareBooksServer/OrderWS"/>
</port>
</service>
</definitions>